@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lilita+One&family=Maven+Pro:wght@400;500;600;700;800;900&family=Nunito:ital,wght@1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-text-color: hsl(
    111,
    97%,
    46%
  ); /* Define a variable for main text color */
  --secondary-text-color: hsl(
    111,
    99%,
    26%
  ); /* Define a variable for main text color */
  --primary-color: hsl(
    111,
    97%,
    46%
  ); /* Define a variable for the primary background color */
  --secondary-color: #f8f8f8;
  --bg-gradient: linear-gradient(353deg, #9ae769 -2.88%, #69bd06 115.09%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: inter, sans-serif;
  display: flex;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  padding-bottom: 0;
}
li {
  list-style: none;
}
